/* Agar gambar tidak terdistorsi */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000000;
    color: #000000;
}

/* Container Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 50px;
}

/* Bagian Teks */
.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    color: #009b8e;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.hero-text .btn {
    display: inline-block;
    background: #009b8e;
    color: #111;
    padding: 12px 24px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.hero-text .btn:hover {
    background: #007067cc;
}

/* Bagian Gambar */
.hero-image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.hero-image img {
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

    .hero-text,
    .hero-image {
        width: 100%;
    }

    .hero-image {
        justify-content: center;
        margin-top: 20px;
    }

    .hero-text h1 {
        font-size: 36px;
    }

.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 8px;

}

/* Styling untuk navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a7f8a6b !important;
    padding: 10px 20px;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
}

nav a:hover {
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
}

.left-nav,
.right-nav {
    display: flex;
}

.left-nav a {
    margin-right: 15px;
}

.right-nav a {
    margin-left: 15px;
}